<p>departmentcomponent works!</p>
<div>
    <table class="table">
        <thead class="thead-dark">
          <tr >
            <th scope="col">Student Name</th>
            <th scope="col">Gender</th>
            <th scope="col">Email</th>
            <th scope="col">Mobile</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of studentList">
            <th scope="row">{{student.name}}</th>
            <td>{{student.gender}}</td>
            <td>{{student.email}}</td>
            <td>{{student.mobile}}</td>
            </tr>
        </tbody>
      </table>      
</div>