<p>deanview works!</p>

<div id="accordion">
  <div class="card">
    <div class="card-header" id="{{department.departmentName}}">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" attr.data-target="#{{department.departmentCode}}" aria-expanded="true" attr.aria-controls="{{department.departmentCode}}">
         {{department.departmentName}} Department
        </button>
        <a  class="mb-1" href="dean">Show {{department.departmentName}}  Department Section</a>
      </h5>
    </div>
    <div id="s">
      <div class="card-header" id="{{department.departmentCode}}" class="collapse show" attr.aria-labelledby="{{department.departmentName}}" data-parent="#accordion">
      <div class="card-body">
          <div>
              <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Employee Id</th>
                      <th scope="col">Name</th>
                      <th scope="col">Qualification</th>
                      <th scope="col">Designation</th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let staff of department.staffList">
                      <th scope="row">{{staff.staffId}}</th>
                      <td>{{staff.name}}</td>
                      <td>{{staff.qualification}}</td>
                      <td>{{staff.designation}}</td>
                      </tr>
                  </tbody>
                </table>      
          </div>
      </div>
    </div>
  </div>
</div>

